body {
  margin: 0;
  background: #0d1117;
  color: white;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding: 20px;
}

.filters {
  margin-top: 10px;
}

.btn {
  padding: 10px 18px;
  border: none;
  background: #30363d;
  color: white;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.btn.active {
  background: #238636;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  padding: 20px;
  gap: 20px;
}

.card {
  background: #161b22;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: transform .2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

/* Lightbox */
.lightbox {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.9);
  z-index: 1000;
}

.lightbox img {
  max-width: 80%;
  max-height: 70%;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 40px;
  cursor: pointer;
}

.lightbox p {
  margin-top: 15px;
  font-size: 20px;
}
